body,
.loading {
  background-color: #f2f2f2;
  height: 100vh;
  animation: circle 3s linear infinite alternate;
  background-image: url("../images/stars1.png");
  background-size: 90%;
  background-color: #0c030e;
}

@keyframes circle {
  from {
    background-size: 90%;
  }

  to {
    background-size: 100%;
  }
}

h1 {
  text-align: center;
  border-bottom: 4px dotted #fff;
  color: #fff;
  text-shadow: 0 0 10px #fff;
  box-shadow: 0 0 15px #fff;
}

form {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin: 20px;
  padding: 20px;
  width: 38%;
  transition: 0.7s;
}

h2 {
  margin-top: 0;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

input[type="button"] {
  background-color: #ffcc00;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

input[type="button"]:hover {
  background-color: #ffa500;
}

.loteFile {
  border-radius: 8px;
  overflow: hidden;
  width: 35%;
  transition: 0.7s;
}

.signUp {
  position: fixed;
  top: 20%;
  left: 10%;
  width: 75%;
  transition: 0.7s;

  z-index: 99999;
}

.sizeSignup {
  width: 45%;
}

.config {
  width: 50%;
}



@media (min-width: 992px) and (max-width: 1200px) {
  form {
    padding: 0;
    width: 45%;
  }

  .loteFile {
    width: 40%;
  }
}

@media (max-width: 991px) {
  form {
    padding: 0;
    width: 95%;
      margin-top: 20%;
  }

  form a {
    text-decoration: none;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"] {
    padding: 5px;
  }

  label {
    font-size: 17px !important;
    color: #123;
    font-weight: 500;
  }

  input[type="button"] {
    display: block;
    margin-bottom: 5px;
  }

  .loteFile {
    display: none !important;
  }

  .signUp {
    top: 8%;
    left: 1%;
    bottom: 10% !important;
    width: 90%;
    height: 85%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  .sizeSignup {
    width: 100% !important;
    display: block !important;
  }

  .config {
    width: 100% !important;
  }
}



.correct{
  position: fixed;
  top: 30%;
  left: 35%;
  width: 350px;
  /* height: 200px; */
  background-color: #adb5bd;
  border-radius: 10px;
  padding: 15px;
  transform: scale(0);
  transition: .7s;
  box-shadow: 0 0 15px #123;

}
.correct .close{
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  background-color: #113;
  color: #f9f9f9;
  display: inline-block;
  transform: translateX(280px);
}
.correct .error-message{
  background-color: #fff;
  margin: 15px auto;
  width: 85%;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  font-size: 20px;
}
